on boot
    # STML0 driver parameter permissions
    chown root mot_tcmd /sys/module/stml0xx/parameters/irq_disable
    chmod 0660 /sys/module/stml0xx/parameters/irq_disable

    #STML0 device permissions
    chown system compass /dev/stml0xx
    chmod 0660 /dev/stml0xx
    chown compass compass /dev/stml0xx_as
    chmod 0660 /dev/stml0xx_as
    chown compass compass /dev/stml0xx_ms
    chmod 0660 /dev/stml0xx_ms
    chown compass compass /dev/stml0xx_akm
    chmod 0660 /dev/stml0xx_akm

# Start Sensor daemon
service motosh /system/bin/motosh boot

    class late_start
    user compass
    group compass misc input
    oneshot
