import init.mmi.overlay.rc
import init.oem.rc
import init.mmi.common.rc

# Moto USB configuration
import init.mmi.usb.rc
import init.mmi.debug.rc
# Moto diag_mdlog configuration
import init.mmi.diag_mdlog.rc
# Moto VoLTE WFC/VT
import init.mmi.volte.rc

# Moto sensors configuration
import init.mmi.sensor.rc

on early-init
    # Create modem FSG mount point
    mkdir /fsg 755 root root

    # boot with max freq, will be reset in post_boot script
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1209600

    # Mount point for Digital Personalization partition
    mkdir /customize 0500 root root

    # Subsytem Restart
    #lpass
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys1/recovery_policy "skip_restart"

on init
    mount pstore pstore /sys/fs/pstore
    chown system log /sys/fs/pstore/console-ramoops-0
    chmod 0440 /sys/fs/pstore/console-ramoops-0
    chown system log /sys/fs/pstore/annotate-ramoops-0
    chmod 0640 /sys/fs/pstore/annotate-ramoops-0
    chown system log /sys/fs/pstore/dmesg-ramoops-0
    chmod 0640 /sys/fs/pstore/dmesg-ramoops-0


    copy /module_hashes /sys/kernel/module_whitelist

    # Setup kernel dropbox permissions so that dropboxd can utilize it
    chown root diag /sys/kernel/dropbox/event
    chown root diag /sys/kernel/dropbox/data

    # Configure coredump
    write /proc/sys/kernel/core_pattern "|/system/bin/coredump %e %p %t"
    write /proc/self/coredump_filter "0x7f"

    #ESDFS
    chown mot_esdfs root /proc/fs/esdfs/packages

on boot
    # restore default console_loglevel to KERN_DEBUG
    # restore default_message_loglevel to KERN_WARNING
    write /proc/sys/kernel/printk "7 4 1 7"

on property:persist.log.aplogd.enable=1
    start aplogd

on property:persist.log.aplogd.enable=0
    stop aplogd

service aplogd /system/bin/aplogd
    class main
    #user log
    #group log system sdcard_rw sdcard_r media_rw mount
    # The user and group definitions above are intentionally disabled and left
    # only as documentation. It actually starts as root and immediately drops
    # to log plus those groups after preserving CAP_SYS_ADMIN, which is required
    # for kernel logging.
    disabled

service mmi-boot-sh /init.mmi.boot.sh
    seclabel u:r:mmi_boot:s0
    class core
    user root
    oneshot

service mmi-laser-sh /init.mmi.laser.sh
    seclabel u:r:mmi_laser:s0
    class core
    user root
    oneshot

service mmi-touch-sh /system/bin/init.mmi.touch.sh
    class core
    user root
    oneshot

service oem-hw-sh /init.oem.hw.sh
    seclabel u:r:init_hw:s0
    class core
    user root
    oneshot
    disabled

service touch-dead-sh /init.oem.hw.sh -f
    seclabel u:r:init_hw:s0
    class main
    user root
    oneshot
    disabled

service touch-ready-sh /init.oem.hw.sh -r
    seclabel u:r:init_hw:s0
    class main
    user root
    oneshot
    disabled

service oem-hw-config-sh /init.oem.hw.sh -p
    seclabel u:r:init_hw:s0
    class main
    user root
    oneshot
    disabled

on property:hw.touch.status="dead"
    start touch-dead-sh

on property:hw.touch.status="ready"
    start touch-ready-sh

on charger
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger moto-charger
    class_stop main
    class_stop late_start

on moto-charger
    setprop ro.board.platform msm8952
    start  qcom-post-boot
    start charge_only_mode
    start thermal-com

on moto-charger && property:ro.boot.secure_hardware=0
    start batt_health

on boot
    # Change ownership and permission for vibrator
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0660 /sys/class/timed_output/vibrator/enable

    # Change ownership and permission for laser_sensor
    chown system system /sys/kernel/range/enable_sar
    chmod 0660 /sys/kernel/range/enable_sar
    chown system system /sys/kernel/range/set_delay_ms
    chmod 0660 /sys/kernel/range/set_delay_ms
    chown system system /sys/kernel/range/near
    chmod 0660 /sys/kernel/range/near

    # Change the ownership of the notification LED interface
    chown system system /sys/class/leds/rgb/control
    chmod 0664 /sys/class/leds/rgb/control

    # Change the ownership of the OneWire bus interface
    chown camera camera /sys/devices/w1_bus_master1/w1_master_search
    chmod 0664 /sys/devices/w1_bus_master1/w1_master_search

    # Change the ownership of the charging LED interface
    chown system system /sys/class/leds/charging/brightness
    chmod 0664 /sys/class/leds/charging/brightness

    # Change permission for backlight
    chmod 0664 /sys/class/leds/lcd-backlight/brightness

    # set permission for Dynamic-CABC feature
    chown system system /sys/class/graphics/fb0/cabc_mode
    # set permission for HBM feature
    chown system system /sys/class/graphics/fb0/hbm

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608

    # Quiet binder logs
    write /sys/module/binder/parameters/debug_mask 0x5

    # usb driver parameter permissions
    chown root mot_tcmd /sys/module/phy_msm_usb/parameters/host_mode_disable
    chmod 0660 /sys/module/phy_msm_usb/parameters/host_mode_disable

    # FPC device parameter permissions
    chown system mot_tcmd /sys/bus/spi/devices/spi7.0/nav
    chown system mot_tcmd /sys/bus/spi/devices/spi7.0/clk_enable
    chown system mot_tcmd /sys/bus/spi/devices/spi7.0/dev_enable
    chown system mot_tcmd /sys/bus/spi/devices/spi7.0/irq
    chown system mot_tcmd /sys/bus/spi/devices/spi7.0/irq_cnt
    chmod 0440 /sys/bus/spi/devices/spi7.0/irq_cnt

    # Create moodle directory that MOT_MOODLE can write to
    mkdir /data/local/moodle 0770 graphics mot_tcmd

    insmod /system/lib/modules/touchx.ko

on fs
    # Mount modem FSG partition
    wait /dev/block/bootdevice/by-name/fsg
    mount ext4 /dev/block/bootdevice/by-name/fsg /fsg ro nosuid nodev barrier=0 context=u:object_r:fsg_file:s0

    #Mount customize partion
    wait /dev/block/bootdevice/by-name/customize
    mount ext4 /dev/block/bootdevice/by-name/customize /customize ro discard nosuid nodev noatime nodiratime defcontext=u:object_r:user_config_file:s0

    # use /persist as phony PDS partition
    symlink /persist /pds

    wait /dev/block/bootdevice/by-name/hw
    start oem-hw-sh

on post-fs
    mkdir /persist/camera 0755 mot_tcmd mot_tcmd
    mkdir /persist/camera/focus 0775 camera mot_tcmd
    mkdir /persist/camera/ledcal 0775 camera mot_tcmd
    mkdir /persist/factory 0755 mot_tcmd mot_tcmd
    mkdir /persist/factory/audio 0755 mot_tcmd system
    mkdir /persist/factory/regulatory 0755 mot_tcmd system
    mkdir /persist/public 0755 mot_tcmd mot_tcmd
    mkdir /persist/public/atvc 0770 mot_atvc shell
    mkdir /persist/public/battd 0755 mot_accy mot_tcmd
    mkdir /persist/public/hiddenmenu 0775 system mot_tcmd
    mkdir /persist/public/hiddenmenu/data 0775 system mot_tcmd
    mkdir /persist/public/locale 0700 system system
    mkdir /persist/public/omadm 0700 radio radio
    mkdir /persist/public/svcs 0770 system system
    mkdir /persist/wifi 0755 mot_tcmd mot_tcmd
    mkdir /persist/bt 0755 mot_tcmd bluetooth
    mkdir /persist/wmdrm 0775 mot_drm mot_drm
    mkdir /persist/security 02770 mot_tpapi mot_tpapi
    mkdir /persist/batt_health 0755 mot_pwric mot_pwric
    mkdir /persist/mdm 0770 radio radio

    chown mot_tcmd mot_tcmd /persist/factory/fti
    chmod 0660 /persist/factory/fti
    chown mot_tcmd mot_tcmd /persist/factory/byte
    chmod 0660 /persist/factory/byte
    chmod 0660 /persist/wifi/wlan_mac.bin
    chown mot_tcmd mot_tcmd /persist/bt/bt_bdaddr
    chmod 0664 /persist/bt/bt_bdaddr
    chmod 0600 /persist/whisper/whisper_only/vector0.bin

    swapon_all fstab.qcom
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

on post-fs-data

    # Setup folders for security
    mkdir /persist/security 02770 mot_tpapi mot_tpapi
    mkdir /data/local/dbvc 0750 mot_tcmd shell

    # Create panic dump dir.
    mkdir /data/dontpanic 0750 root log

    # Setup folder for native to transfer data to NativeDropBoxAgent
    mkdir /data/system/dropbox-add 0730 system diag

    # Create directory for cutback
    mkdir /data/misc/cutback 0770 radio wifi

    # Create directory for fm_radio
    mkdir /data/misc/fm_radio 0770 system system

    #setup folder for WLAN WAPI
    mkdir /data/wapi_certificate 0750 system wifi
    chown system wifi /data/wapi_certificate

    # Create directory used by power_supply_logger
    mkdir /data/power_supply_logger 0750 mot_pwric log

    # Subsystem RAM-dumps
    mkdir /data/ss-ram-dumps 0750 radio log
    mkdir /data/ss-ram-dumps/bp-dumps 0750 radio log
    mkdir /data/ss-ram-dumps/riva-dumps 0750 radio log

    # Permissions for Factory Test of Charging Paths
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_auto_enable
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_ibatt
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_itrick
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_iusb
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_usb_suspend
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_fail_clear
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_usb_otg_ctl

    # Setup folder for aplogd
    mkdir /data/aplogd 0750 log log

    # Permissions for phone power off log
    mkdir /data/power_log 0750 root log
    chmod 0660 /sys/module/power_supply_log/parameters/log_file
    write /sys/module/power_supply_log/parameters/log_file /data/power_log/power_off.log

    # Setup folder for camera HAL subsystem
    mkdir /data/camera_dump 0750 media media

    # SD card encryption metadata
    mkdir /data/misc/sds 0750 root root

    # Create bug2go folder
    mkdir /data/bug2go 0750 log log

    mkdir /data/hardware_revisions 0755 system system

    # Sensor Hub calibration data directory
    mkdir /data/misc/sensorhub 0770 system compass

    # folder for Blueooth ramdump
    mkdir /data/bt-ram-dumps 0750 bluetooth log

    # Required by FingerPrint Cards (FPC) via init so we don't need to give qseecomd or fingerprintd permissions to create them
    mkdir /data/fpc 0700 system system
    mkdir /data/.fps 0770 system fingerp

    # Imager tuning data for camera subsystem
    mkdir /data/misc/imager 0770 camera camera

service mmi-block-perm /init.mmi.block_perm.sh
    seclabel u:r:init_block_perm:s0
    class main
    user root
    oneshot

service batt_health /system/bin/batt_health
    class late_start
    user mot_pwric
    group mot_pwric cache net_admin log
    disabled

on property:sys.boot_completed=1 && property:ro.boot.secure_hardware=0
   start batt_health

service apanic_copy /system/bin/apanic_copy.sh
    class late_start
    group log
    oneshot
    disabled

service apanic_annotate /system/bin/apanic_save.sh build
    class late_start
    group log
    oneshot
    disabled

service charge_only_mode /system/bin/charge_only_mode
    user root
    group graphics system input
    disabled

service ftmipcd /system/bin/ftmipcd
    user radio
    group radio net_raw inet qcom_diag
    disabled
    oneshot

service qe /xbin/qe /system
    class main
    #seclabel u:r:qe:s0
    oneshot
    disabled

service qe_broadcast /xbin/qe /system -b
    class main
    #seclabel u:r:qe:s0
    oneshot
    disabled

on property:persist.qe.trigger=1
    start qe_broadcast

on property:sys.boot_completed=1
    start qe

on property:ro.bootmode=factory
    start ftmipcd

on property:ro.bootmode=mot-factory
    start ftmipcd

# Power up to suspend
on property:tcmd.suspend=1
    stop surfaceflinger
    stop zygote
    stop sensors
    write /sys/kernel/factory_gsbi12_mode/install 1
    setprop debug.sf.nobootanimation 1

# Normal to suspend
on property:tcmd.suspend=2
    stop surfaceflinger
    stop zygote
    stop sensors
    write /sys/kernel/factory_gsbi12_mode/install 1
    setprop debug.sf.nobootanimation 1
    stop wlan_logging

service tcmd /system/bin/tcmd
    class core
#  Total number of supplementary groups below is 31 now. Limit defined in init.h is 32.
#  Please update the current number if you add more groups.
    group mot_tcmd radio mot_pwric input system log camera graphics mot_accy sdcard_r sdcard_rw audio inet bluetooth wifi compass net_bt_admin mot_tombstone mot_tpapi mount net_raw net_admin media shell mot_usb nfc qcom_diag mot_dbvc cache media_rw mot_dtv
    socket local_tcmd stream 0660 mot_tcmd mot_tcmd
    socket batch_socket stream 0600 mot_tcmd mot_tcmd
    oneshot
    disabled

service tcmdhelp /system/bin/tcmdhelp
    class main
    socket tcmdhelp stream 0600 mot_tcmd mot_tcmd
    oneshot
    disabled

on property:tcmd.start_tcmdhelp=1
    start tcmdhelp

on property:tcmd.start_ftmdaemon=1
    start ftmd

# Backup/Restore Feature
on property:mot.backup_restore.status="Finished"
    start zygote

service mot_backup /system/xbin/run_backup /system/etc/backup_targets.csv
    disabled
    user root
    oneshot

service mot_restore /system/xbin/run_restore /system/etc/backup_targets.csv
    disabled
    user root
    oneshot

on property:mot.backup_restore.action="run_backup"
    setprop mot.backup_restore.status "Running"
    stop zygote
    start mot_backup

on property:mot.backup_restore.action="run_restore"
    setprop mot.backup_restore.status "Running"
    stop zygote
    start mot_restore

on property:persist.mot.demo_mode_charging=1
    write /sys/class/power_supply/battery/device/force_demo_mode 1

# Let init manage the bug2go-native wakelock, so that we guarantee its
# lifecycle exactly matches that of bug2go-bugreport.  Since init sends
# SIGKILL when stopping a service, we could not guarantee the wakelock would
# get cleaned up if it were managed by bug2go-bugreport itself.
on property:init.svc.bugreport=running
    write /sys/power/wake_lock bug2go-native

on property:init.svc.bugreport=stopping
    write /sys/power/wake_unlock bug2go-native

on property:init.svc.bugreport=stopped
    write /sys/power/wake_unlock bug2go-native

service bugreport /system/bin/bug2go-bugreport
    class main
    disabled
    oneshot
    keycodes 115 116 # VOLUME_UP + PWR

service mbm_spy /system/bin/mbm_spy
    class late_start
    user system
    group system
    oneshot
    disabled

on property:sys.boot_completed=1
    start mbm_spy

on property:ro.secure=0
    # disable dmesg restrict for insecure builds
    write /proc/sys/kernel/dmesg_restrict 0

on property:ro.debuggable=1
    # disable dmesg restrict in eng/userdebug build
    write /proc/sys/kernel/dmesg_restrict 0
    # enable group read/write to /dev/log/kernel
    chmod 0660 /dev/log/kernel
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq

service hw_revs /system/bin/hardware_revisions.sh
    class late_start
    user system
    group system
    oneshot

service dropboxd /system/bin/dropboxd
    class late_start
    user diag
    group diag

# translate to qcom property name in order to keep the consistent with
# our legacy property
on property:persist.sys.qc.sub.rdump.on=*
   setprop persist.sys.ssr.enable_ramdumps ${persist.sys.qc.sub.rdump.on}

# translate MMI property in order to keep the consistent with QCOM
on property:ro.hw.dualsim=true
   setprop persist.radio.multisim.config dsds

on property:ro.hw.dualsim=false
   setprop persist.radio.multisim.config ""

on nonencrypted
    setprop ro.kick.logcopy ${ro.bootreason}

on property:vold.decrypt=trigger_restart_framework
    setprop ro.kick.logcopy ${ro.bootreason}
    start bootanim

on property:ro.kick.logcopy=coldboot
    start apanic_copy

on property:ro.bootreason=watchdog
    stop surfaceflinger
    stop per_mgr
    stop zygote
    stop zygote_secondary
    stop sensors
    setprop debug.sf.nobootanimation 1
    start apanic_annotate

on property:ro.bootreason=pmic_watchdog
    stop surfaceflinger
    stop per_mgr
    stop zygote
    stop zygote_secondary
    stop sensors
    setprop debug.sf.nobootanimation 1
    start apanic_annotate

on property:ro.bootreason=kernel_panic
    stop surfaceflinger
    stop per_mgr
    stop zygote
    stop zygote_secondary
    stop sensors
    setprop debug.sf.nobootanimation 1
    start apanic_annotate

# DHCP service for Ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -G
    class late_start
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -nBK
    class late_start
    disabled
    oneshot

service thermal-com /system/vendor/bin/thermal-engine --minimode
    class main
    user root
    disabled

service esdpll /system/bin/esdpll -w
    class main
    user mot_esdfs
    group mot_esdfs package_info

service emmc_ffu /system/bin/emmc_ffu.sh
    user root
    class core
    oneshot
    disabled

on property:sys.boot_completed=1
    start emmc_ffu

on property:sys.wifi.tethering=true
    write /sys/class/net/wlan0/queues/rx-0/rps_cpus ${sys.usb.rps_mask}
    write /sys/class/net/wlan0/queues/rx-1/rps_cpus ${sys.usb.rps_mask}
    write /sys/class/net/wlan0/queues/rx-2/rps_cpus ${sys.usb.rps_mask}
    write /sys/class/net/wlan0/queues/rx-3/rps_cpus ${sys.usb.rps_mask}
